name: CI
on:
  push:
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
      - 'example'
    branches: [ master ]
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
      - 'example'
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 2
      fail-fast: false
      matrix:
        php-version: [
            "8.1",
            "8.2",
            "8.3",
            "8.4",
            # also try a future version
            "8.5"
        ]
        composer-param: [
            "update --no-progress --prefer-dist --prefer-lowest",
            "update --no-progress --prefer-dist"
        ]
    name: PHP ${{ matrix.php-version }} test
    steps:
      - name: checkout project
        uses: actions/checkout@v6
        with:
          # needed by scrutinizer
          fetch-depth: 2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: bcmath
          tools: composer:v2
          # needed by PHPUnit code coverage
          coverage: pcov

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-dir)" >> $GITHUB_OUTPUT

      - name: Cache composer dependencies
        uses: actions/cache@v4
        with:
            path: ${{ steps.composer-cache.outputs.dir }}
            key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
            restore-keys: ${{ runner.os }}-composer-

      - name: Install dependencies
        run: composer ${{ matrix.composer-param }}

      # Run phpunit with code coverage
      - name: PHPUnit Tests
        run: vendor/bin/phpunit --coverage-clover=coverage.clover

# vim: syntax=yaml ts=2 sw=2 et sr softtabstop=2 autoindent
